.lego_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  width: 94vw;
  max-width: 1808px;
  min-width: 272px;
  height: 88px;
  padding: 0 104px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  align-items: center;
  transition:
    top 0.5s ease-in-out,
    opacity 1s ease;
  opacity: 1;
}

.nav-up {
  top: -120px;
  opacity: 0;
}
.gnb .buger_menu{display: none; cursor: pointer;}
.gnb ul {
  display: flex;
  flex-wrap: wrap;
}

.gnb ul li a {
  display: block;
  padding: 0 20px;
  height: 23px;
  line-height: 23px;
  font-size: 19px;
  letter-spacing: -1px;
  font-weight: 600;
  color: #111;
}

.right_gnb ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section_banner */
.section_banner {
  position: relative;
  width: 100%;
  padding-bottom: 53%;
  background: #ffd502;
  background-size: calc(100% / 10) calc(100% / 6);
  background-image:
    linear-gradient(to right, #f2f2f2 2px, transparent 2px),
    linear-gradient(to bottom, #f2f2f2 2px, transparent 2px);
    overflow: hidden;
}

.banner_title_wrap {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.banner_title_wrap p:first-child {
  font-family: "Rubik", sans-serif;
  font-size: clamp(32px, 10.3vw, 198px);
  max-width: 1920px;
  font-weight: 900;
  letter-spacing: -1.3px;
  color: #f2f2f2;
  -webkit-text-stroke-width: clamp(0.5px, 0.1vw, 3px);
  -webkit-text-stroke-color: #ffc70f;
}

.banner_title_wrap p:last-child {
  font-size: clamp(16px, 2.4vw, 46px);
  font-weight: 700;
  letter-spacing: -1px;
  color: #111;
}

.section_banner > img {
  position: absolute;
  left: 23%;
  bottom: 0;
  max-width: 50%;
  height: auto;
}

.section_banner .banner_btn_wrap {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_banner .banner_btn_wrap .banner_btn {
   width: 436px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
  border: 3px solid #fff;
}

.section_banner .banner_btn_wrap .banner_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  background: rgba(242, 242, 242, 0.9);
  text-decoration: none;
}


.section_banner .banner_btn_wrap .banner_btn a img{
  width: clamp(70px, 6.6vw, 127px);
    height: auto;
    flex: 0 0 auto;

}
.section_banner .banner_btn_wrap .banner_btn a .plus_icon_btn {
  display: none;
}

.section_banner .banner_btn_wrap .banner_btn:last-child a {
  gap: clamp(12px, 1.25vw, 24px);
}

.section_banner .banner_btn_wrap .banner_btn a .txt_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}


.section_banner .banner_btn_wrap .banner_btn a:hover .plus_icon_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.section_banner .banner_btn_wrap .banner_btn a :is(img, .txt_wrap) {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.section_banner .banner_btn_wrap .banner_btn a:hover :is(img, .txt_wrap) {
  opacity: 0;
}

.section_banner .banner_btn_wrap .banner_btn a .banner_btm_bg_img {
  scale: 1.3;
  position: absolute;
  bottom: -10%;
  right: -20%;
  opacity: 0;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.6s;
  transition-delay: 0s;
}

.section_banner .banner_btn_wrap .banner_btn a:hover .banner_btm_bg_img {
  opacity: 1;
  transform: rotate(-20deg);
  transform-origin: center bottom;
}

/* section_new */
.section_new {
  padding: 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  box-sizing: border-box;
  gap: 30px;
}

.section_new .contents {
  width: 83%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  
}

.section_new.scroll-lock {
  overflow: hidden;
}

.section_new .section_title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #e3000b;
}

.section_new .section_article {
  color: #e3000b;
}

.swiperA {
  height: 670px;
  overflow: hidden;
  display: flex; flex-wrap: wrap;
  justify-content:space-between;
}

.swiperA .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 638px;
  height: 384px; 
  opacity: 0.4;
  padding: 0 30px;
}

.swiperA .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  border: 3px #fff solid;
  box-sizing: border-box;
}


.swiperA .swiper-slide-prev,
.swiperA .swiper-slide-next {
  height: 136px !important;
}
.swiperA .swiper-slide-next img {
  transform: perspective(1000px) rotateX(15deg);
  transform-style: preserve-3d;
}
.swiperA .swiper-slide-prev img {
  transform: perspective(1000px) rotateX(-15deg);
  transform-style: preserve-3d;
}

.swiperA .swiper-slide-active {
  opacity: 1;
  height: 384px !important;
}


.swiperB{
  display: flex; flex-direction: column; height:384px; overflow: hidden;
}
.swiperB .swiper-slide{
  display: flex; flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.swiperB .swiper-slide .title_wrap{
  width: 100%;
  display: flex; flex-wrap: wrap; flex-direction: column; gap: 16px;
  padding-bottom: 24px;
  box-sizing: border-box;
  border-bottom: #111 4px solid ;
}

.mySwiperB .swiper-wrapper {
  position: relative;
}

.mySwiperB .swiper-slide {
  opacity: 0;
  transition-property: opacity;
  pointer-events: none;
}

.mySwiperB .swiper-slide-active,
.mySwiperB .swiper-slide-duplicate-active {
  opacity: 1 !important;
  pointer-events: auto;
}

.mySwiperB .swiper-slide-prev,
.mySwiperB .swiper-slide-next {
  opacity: 0;
  pointer-events: none;
}
.section_new .contents .content_article_medium{width: 100%; line-height: 150%; }



/* 슬라이드 카운터 */
.slide-counter {
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  z-index: 100;
}

/* 스크롤 인디케이터 */
.scroll-indicator {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
  color: #e3000b ;
  font-size: 11px;
  letter-spacing: 0.15em;
  z-index: 100;
}

.scroll-line {
  width: 2px;
  height: 60px;
  background: rgba(255, 34, 34, 0.2);
  position: relative;
  overflow: hidden;
}

.scroll-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: rgba(227, 0, 11, 0.5);
  animation: scrollMove 2s ease-in-out infinite;
}

@keyframes scrollMove {
  0% {
    top: -30px;
  }
  100% {
    top: 60px;
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 90%;
  }

  .swiper-slide {
    width: 90%;
    height: 384px;
  }

  .scroll-indicator {
    left: 20px;
  }

  .swiper-pagination {
    right: 20px !important;
  }
}

/* series */

.section_series{position: relative; width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap: 160px; align-items: center; background: #111;
  padding:160px 0; overflow: hidden;}
  
.section_series .section_title_wrap{z-index: 50;}
.section_series .section_title{ color: rgba(255, 255, 255, 0); -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: #f2f2f2;}
.section_series .section_article{ color: #f2f2f2;}

.section_series .contents{ width: 83%; display: flex; flex-wrap: wrap; flex-direction: column; gap: 72px; color: #f2f2f2;align-items: center; }


.section_series .contents .card_list{ width: 100%; display: flex; flex-wrap: wrap; flex-direction: column;}
.section_series .contents .card_list .card{ display: flex; flex-wrap: wrap; justify-content: space-between; padding: 72px 56px; position: relative; align-items: center;}

.section_series .contents .card_list .card:hover{ background: rgba(17, 17, 17,0.7); transition: 0.6s;}

.section_series .contents .card_list .card:first-child{border-top: 3px solid #f2f2f2; border-bottom: 1.5px solid #f2f2f2;}
.section_series .contents .card_list .card:nth-child(2){border-bottom: 1.5px solid #f2f2f2;}
.section_series .contents .card_list .card:last-child{ border-bottom: 3px solid #f2f2f2;}

.section_series .title_wrap{ display: flex; flex-wrap: wrap; flex-direction: column; gap: 32px;}
.section_series .title_wrap .content_title_large span{ padding-left: 20px;}
.section_series .title_wrap .content_article_medium{ padding-left: 72px; line-height: 160%;}

.section_series .circle_btn p{
    color: #f2f2f2;
}

.section_series .contents .card_list .card .card_thum{
  position: absolute;
  width: 640px;
  height: 360px;
  top: -49px;
  right: 270px;
  background: #ffc70f;
  border-radius: 14px;
  border: #f2f2f2 2px solid;
  box-sizing: border-box;
  transform: translateY(0) rotate(-10deg);
  transition: transform 1s, opacity 0.6s, scale 0.6s;
  opacity: 0;
  transition-delay: 0s;
  scale: 0.8;
}

.section_series .contents .card_list .card:hover .card_thum{
  
  transform: rotate(10deg);
  transform-origin: center center;
  opacity: 1;
  transition: transform 1s, opacity 0.6s, scale 0.6s;
  scale: 1;
}

.section_series .contents .card_list .card:first-child .card_thum{
background: url(../images/mavel_card.jpg);
}
.section_series .contents .card_list .card:nth-child(2) .card_thum{
background: url(../images/batman_card.jpg);
}
.section_series .contents .card_list .card:last-child .card_thum{
background: url(../images/starwars_card.jpg);
}

.section_series .round_btn{
    border: 3px solid #f2f2f2;
    color: #f2f2f2;
    background-color: #f2f2f200;
    backdrop-filter:blur(20px);
    z-index: 40;
}
.section_series .round_btn:hover{
 background: rgba(242, 242, 242, 0.2);
    z-index: 40;
}


/* .section_series .plus_btn:hover{ color: #f2f2f2;}
.section_series .plus_btn:hover:after { background: #f2f2f2; }
 */

.point_cursor{
  width: 1000px;
  height: 1000px;
  border-radius: 1000px;
  background: #E3000B;
  background: radial-gradient(circle,rgba(227, 0, 11, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute; /* absolute → fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  transition: all .3s;
  pointer-events: none; /* 이것도 추가 */
  opacity: 0; /* 초기에는 숨김 */
}


/* cominsoon */
.section_comingsoon{
  width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; padding: 160px 0; box-sizing: border-box; justify-content: space-between; text-align: center;
  background: #2A27E8;
  background: linear-gradient(180deg,rgba(42, 39, 232, 1) 69%, rgba(17, 17, 17, 1) 100%);
  position: relative;
  overflow: hidden;
  gap: 680px;
}

.section_comingsoon p:nth-child(3){
  position: absolute;left: 160px; top: 370px;
 font-size: 400px; font-family: "Rubik", sans-serif; font-weight: 700; line-height: 100%; letter-spacing: 1px; 
  color: #f2f2f2;-webkit-text-stroke-width: 30px; -webkit-text-stroke-color: #f2f2f2;
  filter: drop-shadow(rgba(17, 17, 17, 0.9) 0px -97px 2px);  
  z-index: 1;
}

.section_comingsoon .contents{ width: 100%; display: flex; flex-direction: column; gap: 60px; align-items: center; z-index: 40;}
.section_comingsoon .contents .swiper{width: 100%; margin: 0 !important; position: relative; overflow: hidden;}

.section_comingsoon .contents .swiper-slide {
  width: 390px;
  height: 405px;
  overflow: hidden;
  display: flex;
}

.coming_soon_slide .swiper-wrapper {transition-timing-function: linear !important;width: 100%; display: flex;position: relative; }

.section_comingsoon .round_btn{
    border: 3px solid #f2f2f2;
    color: #f2f2f2;
    background-color: #f2f2f200;
    backdrop-filter:blur(20px);
}
.section_comingsoon .round_btn:hover{
 background: rgba(242, 242, 242, 0.2);
}


.dark-mask {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color:rgba(17, 17, 17, 1);
  z-index: 100;
  pointer-events: none;
 
  --mouse-x: 50%;
  --mouse-y: 50%;
  
  mask-image: radial-gradient(
    circle 800px at var(--mouse-x) var(--mouse-y),
    transparent 0%,
    transparent 95%,   
    black 100%
  );
  -webkit-mask-image: radial-gradient(
    circle 800px at var(--mouse-x) var(--mouse-y),
    transparent 0%,
    transparent 95%,
    black 100%
  );

}

/* about */
.section_about{
  width: 100%;
  height: 2516px;
  background: url("../images/about_bg.jpg") 50% 50% /cover;
  padding: 327px 0;
  box-sizing: border-box;
  display: flex; flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section_about .contents{
  display: flex; flex-direction: column; width: 100%; gap: 72px; align-items: center; color: #f2f2f2; width: fit-content;
}

.section_about .contents .text_wrap{
  display: flex; flex-direction: column; gap: 44px;text-align: center;
}
.section_about .contents .text_wrap > p:first-child{
  font-family: 'lego'; font-size: 400px; letter-spacing: -13px; line-height: 80%; text-indent: -100px;
   color: rgba(242, 242, 242, 0.6);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f2f2f2;
}

.section_about .contents .text_wrap .line{
  width: 50%;
  height: 272px;
  border-right: 2px solid #f2f2f2;
}

.section_about .round_btn{
    border: 3px solid #f2f2f2;
    color: #f2f2f2;
    background-color: #f2f2f200;
    backdrop-filter:blur(20px);
}
.section_about .round_btn:hover{
 background: rgba(242, 242, 242, 0.2);
}

/* bulider */
.section_builder{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 160px 0;
  box-sizing: border-box;
  background: #111111;
background: linear-gradient(180deg,rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 1) 20%, rgba(242, 242, 242, 1) 20%, rgba(242, 242, 242, 1) 77%, rgba(17, 17, 17, 1) 77%);
}
.section_builder .section_title{ color: rgba(255, 255, 255, 0); -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: #FAD409;}
.section_builder .video_box{
  width: 100%;
  height: 1022px;
  display: flex; flex-direction: column; gap: 64px;
  background: url("../images/bulider_bg.jpg") no-repeat 50% 50% /cover;
  align-items: center;
}

.section_builder .video_box video{
  width: 1102px;
}

.section_builder .contents{ width: 100%; display: flex; flex-direction: column; gap: 72px;align-items: center;}
.section_builder .title_wrap{
  display: flex; flex-direction: column; gap: 10px;
}
.section_builder .card_list{
  display: flex; flex-wrap: wrap; box-sizing: border-box; position: relative; width: 1400px; justify-content: space-evenly;
}
.section_builder .card_list .card{
  width: 340px; height: 462px; display: flex; flex-direction: column; justify-content: space-between; padding: 60px 54px;
  box-sizing: border-box; align-items: center; text-align: center;
  background: #F2F2F2;
  background: linear-gradient(0deg,rgba(242, 242, 242, 1) 34%, rgba(250, 212, 9, 1) 100%);
  border: #FFD502 2.5px solid;
  border-radius: 16px;
}
.section_builder .card_list .card > p:nth-child(2){
  font-size: 28px; font-weight: 800; letter-spacing: -0.64px;
}
.section_builder .card_list .card img{
  width: 170px;
  height: 170px;
}

.section_builder .card_list .card:nth-child(2n-1){
 margin-top: 120px;
}

/* news */
.section_news {
  position: relative;
  width: 100%;
  background-color: #111;
  background-image:
  linear-gradient(to right, #464646 2px, transparent 2px),
  linear-gradient(to bottom, #464646 2px, transparent 2px);
  background-size: calc(100% / 10) calc(100% / 7);
  padding: 160px 0 100px 0 ;
  box-sizing: border-box  ;
  z-index: 2;
}
.section_news .section_title_wrap{ width: 100%; padding-left:160px ; box-sizing: border-box; align-items: start;}
.section_news .section_title{  color: rgba(242, 242, 242, 1); -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: #fff;}
.section_news .section_article{  color: rgba(242, 242, 242, 1);}

.section_news .slider{
  position:relative;
  width:100%;
  height: 700px;
  overflow: hidden;

}
.section_news .container{
  position:absolute;
  left:50%;
  cursor:grab;
  
}
.section_news .container:active{
  cursor:grabbing;
}
.section_news .card{
  transition: opacity 0.3s ease;
  display: inline-block;
}
.section_news .card.hidden{
  opacity: 0;
  pointer-events: none;
}
.section_news .slide{
  width:248px;
  height:400px;
  position:absolute;
  transform: translatex(-50%);
  bottom:0px;
  user-select:none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  border: 6px #f2f2f2 solid;
  display: flex;
  align-items: end;
  padding: 10px;
  box-sizing: border-box;
  transition: .3s;
  z-index: 5;
}
.section_news .slide:hover{border: 6px #E3000B solid;}

.section_news .slide .text_wrap{ display: flex; flex-direction: column; gap: 4px;}
.section_news .slide .text_wrap .content_article_small{ color: #F2F2F2; background: #111; width: fit-content; line-height: 150%; padding: 0 10px; transition: .3s;}
.section_news .slide:hover .text_wrap .content_article_small{ color: #F2F2F2; background: #E3000B;}
.section_news .slide .text_wrap .content_article_large{ font-weight: 800; transition: .3s; }
.section_news .slide:hover .text_wrap .content_article_large{ color: #E3000B; }

.section_news .card:first-child .slide{
 background: url("../images/news_card01.jpg") 50% 50% /cover no-repeat;}
.section_news .card:nth-child(2) .slide{
 background: url("../images/news_card02.jpg") 50% 50% /cover no-repeat;}
.section_news .card:nth-child(3) .slide{
 background: url("../images/news_card03.jpg") 50% 50% /cover no-repeat;}
.section_news .card:nth-child(4) .slide{
 background: url("../images/news_card04.jpg") 50% 50% /cover no-repeat;}
.section_news .card:nth-child(5) .slide{
 background: url("../images/news_card05.jpg") 50% 50% /cover no-repeat;}
.section_news .card:last-child .slide{
  align-items: start; padding: 18px; justify-content: space-between; flex-direction: column;
 background: url("../images/news_card06.jpg") 50% 50% /cover no-repeat;}
  
 .footer_thum{
   position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -35%;
    width: 35vw;
    max-width: 614px;
  }
 
 /* footer */
 footer{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 100%;
   background: #FAD409 ;
   position: relative;
   padding: 72px 160px;
   box-sizing: border-box;
   gap: 100px;
   
  }
.footer_top{width: 100%; display: flex; flex-wrap: wrap; gap: 48px;}

.footer_gnb_wrap{
  width: 100%;
  display: flex; flex-wrap: wrap; justify-content: space-between;
}
.footer_gnb{
  display: flex; flex-wrap: wrap; gap: 48px;
}

.footer_brand_wrap{
  display: flex; flex-direction: column; gap: 16px; text-align: center; 
}


.footer_util{
 height: 100%; display: flex; flex-direction: column; gap: 20px; align-items: end;
}
.sns_wrap{ display: flex; flex-wrap: wrap; gap: 32px; align-items: end;}

#location_btn{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 34px;
  justify-content: space-between;
  color: #F2F2F2;
  background: #2A27E8;
  border-radius: 26px;
}
#location_btn p{
 font-size: 18px;
 font-weight: 500;
 letter-spacing: -0.5px;
 line-height: 130%;
}
#location_btn .fa-location-dot{width: 24px; height: 24px; line-height: 24px; color: #F2F2F2;}

.footer_gnb ul{ display: flex; flex-direction: column; gap: 16px;}
.footer_gnb ul .content_article_medium{ font-weight: 800;}

.right_footer_gnb{ display: flex; flex-wrap: wrap; gap: 48px;}
.right_footer_gnb ul{ display: flex; flex-wrap: wrap; flex-direction: column; gap: 16px;}
.right_footer_gnb ul .content_article_medium{ font-weight: 800;}

.footer_btm{width: 100%; display: flex; flex-direction: column; gap: 56px;}
.footer_connect_wrap{width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.footer_email_form{display: flex; flex-direction: column; justify-content: space-between; position: relative;}
.footer_email_form label{padding:0 16px; font-size: 20px; font-weight: 700;}
#user_email{ width: 300px; height: 58px; background: #f2f2f2; border-radius: 58px; border: 3px #111 solid; padding: 0 16px; box-sizing: border-box; font-size: 16px;}
#user_email:focus {
 border: 3px #E3000B solid;
  outline: none;
}
.footer_email_form button{ position: absolute; bottom: 0; right: 0; width: 58px; height: 58px; border-radius: 58px; background: #111;}
.footer_email_form .fa-chevron-right{ color: #F2F2F2;}
.footer_email_form button:hover{ background: #E3000B;}
#user_email:focus::placeholder { color: transparent; }

.footer_policy_list{width: 100%; display: flex; flex-direction: column; gap: 10px;}
.footer_policy_list ul{display: flex; flex-wrap: wrap; gap: 24px;}
.footer_policy_list ul li a{display: inline-block; font-size: 16px; font-weight: 400; }
.footer_legal_wrap p{ width: 100%;  word-break:keep-all;font-size: 16px; font-weight: 300;}