.lego_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  position: fixed;
  max-width: 1808px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  width: 94%;
  height: 88px;
  margin: 30px auto;
  padding: 0 104px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  align-items: center; 
  transition: top 0.5s ease-in-out, opacity 1s ease ;
  opacity: 1;
}

.nav-up {
  top: -120px;
  opacity: 0;
}


.gnb ul {
  display: flex;
  flex-wrap: wrap;
}

.gnb ul li a {
  display: block;
  padding: 0 20px;
  height: 23px;
  line-height: 23px;
  font-size: 19px;
  letter-spacing: -1px;
  font-weight: 600;
  color: #111;
}

.right_gnb ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section_banner */
.section_banner {
  position: relative;
  width: 100%;
  padding-bottom: 53%;
  background: #ffd502;
  background-size: calc(100% / 10) calc(100% / 6);
  background-image: linear-gradient(to right, #f2f2f2 2px, transparent 2px),
    linear-gradient(to bottom, #f2f2f2 2px, transparent 2px);
}

.banner_title_wrap  {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.banner_title_wrap p:first-child {
  font-family: "Rubik", sans-serif;
  font-size: 198px;
  font-weight: 900;
  letter-spacing: -1.3px;
  color: #f2f2f2;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffc70f;
}

.banner_title_wrap p:last-child{
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #111;
}

.section_banner > img {
  position: absolute;
  left: 23%;
  bottom: 0;
  max-width: 50%;
  height: auto;
}

.section_banner .banner_btn_wrap {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_banner .banner_btn_wrap .banner_btn {
  width: 436px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: 3px solid #fff;
  
}

.section_banner .banner_btn_wrap .banner_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background: rgba(242, 242, 242, 0.9);
  text-decoration: none;
  
}

.section_banner .banner_btn_wrap .banner_btn a .plus_icon_btn{
  display: none;
}

.section_banner .banner_btn_wrap .banner_btn:last-child a {
  gap: 24px;
}


.section_banner .banner_btn_wrap .banner_btn a .txt_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}

.section_banner .banner_btn_wrap .banner_btn a .btn_article {
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 300;
  color: #6c6c6c;
}

.section_banner .banner_btn_wrap .banner_btn a:hover .plus_icon_btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.section_banner .banner_btn_wrap .banner_btn a :is(img, .txt_wrap){ 
  opacity: 1;
  transition: opacity 0.1s ease;
}

.section_banner .banner_btn_wrap .banner_btn a:hover :is(img, .txt_wrap){ 
  opacity: 0;
}

.section_banner .banner_btn_wrap .banner_btn a .banner_btm_bg_img{
  position: absolute;
  bottom: -10%;
  right: -20%;
  opacity: 0;
  transform: translateY(0) rotate(0deg);
  transition:
    transform 0.6s;
   transition-delay: 0s;
}

.section_banner .banner_btn_wrap .banner_btn a:hover .banner_btm_bg_img{
  opacity: 1;
  transform: rotate(-20deg);
  transform-origin: center bottom;
  
}


/* section_new */
.section_new {
  padding: 160px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.no-scroll {
  overflow: hidden;
  height: 100%; /* 모바일에서 추가 스크롤 방지 */
}

.section_title_wrap {
  text-align: center;
  margin-bottom: 60px;
}

.section_title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #e3000b;
}

.section_article {
  color: #e3000b;
}

.swiper {
  width: 83%;
  height: 700px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 638px;
  height: 384px;
  opacity: 0.4;
  
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.swiper-slide-prev,
.swiper-slide-next {
/* height: 136px; */
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  height: 136px !important;

}
.swiper-slide-next img {
  transform: perspective(1000px) rotateX(15deg);
  transform-style: preserve-3d;


 
}
.swiper-slide-prev img {
  transform: perspective(1000px) rotateX(-15deg);
  transform-style: preserve-3d;

  
}

.swiper-slide-active {
  opacity: 1;
  height: 384px !important;
}