@media screen and (max-width:1600px) {
 header { height: 83px; padding: 0 56px;}
}

@media screen and ( max-width: 1440px) {
     header { height: 78px; padding: 0 40px;}
.logo{ width: 60px; height: 60px; }
.right_gnb ul {gap: 16px;}
.right_gnb ul li img {width: 28px;}
    .section_new{display: none;}
    .section_series{display: none;}
    .section_comingsoon{display: none;}
    .section_about{display: none;}
    .section_builder{display: none;}
    .section_news{display: none;}
    footer{display: none;}

}
@media screen and ( max-width: 1280px) {
   header { height: 73px;}
   .logo{ width: 56px; height: 56px; }
   .gnb ul li a{padding: 0 15px;}

}
@media screen and ( max-width: 1024px) {
   header {top: 20px; height: 68px; padding: 0 32px;}
   .logo{ width: 52px; height: 52px; }
    .right_gnb ul li img {width: 24px;}
    .gnb ul li a{ font-size: 16px;padding: 0 10px;}
    
}
@media screen and ( max-width: 768px) {
    header {  height: 63px; padding: 0 32px;}
    .logo{ width: 48px; height: 48px; }
    .right_gnb ul {gap: 10px;}
    .right_gnb ul li img {width: 22px;}
    .gnb .buger_menu{display: flex;}
    .gnb ul{display: none;}
}
@media screen and ( max-width: 600px) {
     header { height: 58px;}
     .logo{ width: 44px; height: 44px; }

}
@media screen and ( max-width:480px) {
header {
  height: 50px;
  padding: 0 24px;
  gap: 16px;
}
.logo{
    width: 40px;
    height: 40px;
}

.right_gnb ul li img{width: 20px;}
.right_gnb ul {gap: 8px;}

}