.section_title{  font-family: "Rubik", sans-serif; font-size: 200px; letter-spacing: -4px; font-weight: 900; line-height: 80%;}
.section_article{font-size: 44px; letter-spacing: -2px; font-weight: 700; line-height: 90%;}

.content_title_xxlarge{font-family: "Rubik", sans-serif; font-size: 60px; letter-spacing: -2px; font-weight: 600;}
.content_title_xlarge{font-size: 56px; letter-spacing: -2px; font-weight: 700;}
.content_title_large{font-size: 40px; letter-spacing: -1px; font-weight: 700;}
.content_title_medium{font-size: 33px; letter-spacing: -0.75px; font-weight: 800;}
.content_title_small{font-size: 26px; letter-spacing: -1px; font-weight: 700;}
.content_title_xsmall{font-size: 24px; letter-spacing: -0.75px; font-weight: 600;}
.content_title_xxsmall{font-size: 20px; letter-spacing: -1px; font-weight: 700;}
.content_title_xxxsmall{font-size: 16px; letter-spacing: -0.5px; font-weight: 400;}

.content_article_xxlarge{font-size: 32px; letter-spacing: -1px; font-weight: 600;}
.content_article_xlarge{font-size: 26px; letter-spacing: -1px; font-weight: 500;}
.content_article_large{font-size: 24px; letter-spacing: -0.5px; font-weight: 500;}
.content_article_medium{font-size: 20px; letter-spacing: -1px; font-weight: 500;}
.content_article_small{font-size: 18px; letter-spacing: -0.5px; font-weight: 600;}
.content_article_xsmall{font-size: 17px; letter-spacing: -0.7px; font-weight: 600;}
.content_article_xxsmall{font-size: 16px; letter-spacing: -1px; font-weight: 600;}


.section_title_wrap{
display:flex; flex-wrap: wrap; flex-direction: column; gap: 32px;
align-items: end;
margin: 0 auto;
width: 83%;
text-align: center;
margin-bottom: 60px;
}

.section_title_wrap_medium{
    width: 100%; display: flex; flex-direction: column; gap: 30px; color: #f2f2f2;
}
.section_title_wrap_medium p{line-height: 90%;}
.section_title_wrap_medium .content_article_xlarge{ font-weight: 400;}


/* plus_btn */
.plus_icon_btn{
    display: flex; flex-wrap: wrap; gap:6px; text-align: center;
    font-size: 19px; letter-spacing: -1px; font-weight: 700; color: #E3000B;
}

/* circle_btn */
.circle_btn {
  display: flex;
  position: relative;
  flex-wrap: wrap;
    gap: 8px;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
    width: 139px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.circle_btn .icon{
    width: 32px;
    height: 32px;
    display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
    background: #E3000B;
    border-radius: 32px;
    color: #f2f2f2;
    transition: 0.6s;
}


.circle_btn .fa-arrow-right{position: absolute; opacity: 0; left: 0;}

.circle_btn:hover .icon{   
    width: 100%;
    transition: 0.6s;
}

.circle_btn:hover .icon .fa-arrow-right{   
    opacity: 1;
    transform: translateX(18px);
    transition: transform 0.6s, opacity 0.6s ease;
}

.circle_btn .fa-angle-right{
    opacity: 1;
    transition: transform 0.6s, opacity 0.6s ease;
}
.circle_btn:hover .icon .fa-angle-right{   
    opacity: 0;
}

.circle_btn p{
    font-family: "Rubik"; font-size: 14px; letter-spacing: -0.5px; font-weight: 500; 
    position: absolute;
    left: 40px;
    z-index: 20;
    color: #111;
    transition: 0.6s;
    
}
.circle_btn:hover p{
    color: #f2f2f2;
}

.round_btn{
   width: fit-content;
    padding: 20px 80px;
    border: 3px solid #E3000B;
    color: #E3000B;
    border-radius: 100px;
    transition: .3s;
    background-color: #f2f2f2;
    cursor: pointer;
}
.round_btn:hover{
 background: #E3000B;
 color: #fff;
}
.round_btn p{
   font-size: 18px; line-height: 130%; font-weight: 600;
}


.plus_btn{
     display: flex; flex-wrap: wrap; gap: 6px; color: #E3000B; justify-content: center; position: relative; padding-bottom: 10px; box-sizing: border-box; align-items: center;
}
.plus_btn p{  font-size: 18px; line-height: 130%; font-weight: 600;}
.plus_btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  height: 1px;
  background-color: #E3000B;
  transition: width 0.4s ease; 
}

.plus_btn:hover::after {
  width: 100%; 
}